.encabezado { align-items: center;
display: block;
text-align: center;
font-family: georgia;
}

body { background-color:bisque}

h2 { font-family: georgia;
    padding: 10px;
}

#introducción { text-align: center;
background-color:burlywood;
width: 80%;
margin: 0 auto;
padding: 20px;
}

#capítulo1 { text-align: center;
    background-color: burlywood;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.lobo_abuelita { align-items: center;
    display: block;
    text-align: center;
    font-family: georgia;
}
    
.lobo_abuelita img {
    width: 500px;
    height: 500px;
}

#capítulo2 { text-align: center;
    background-color: burlywood;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;}
    
    #final { text-align: center;
        background-color: burlywood;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .foto_leñador { padding: 20px; }

    #footer { text-align: center;
    background-color:aliceblue;
    width: 10%;
    margin: 0 auto;
    padding: 10px;
}